
h1  {
    font-family: Georgia, serif;
    text-align: center;
}
h2 {
    font-family: system-ui;
    margin: 0; 
padding: 0;       }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
   
}

* {
    
box-sizing: border-box;




}
.center {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
margin-top: 10%;

}
ul li.checked {

text-decoration: line-through;
}
.button {
transition-duration: 0.4s;
}

.button:hover {
      /* Green */
color: green;
}
.button {
background-color: white;
color: black;
border: 0; /* Green */
width: auto;
height: auto;
cursor: pointer;

}
.update{
    border: 0cm;
    background-color: white;
    cursor: pointer;
}
.update:hover{
    
    color: white;
}
.delete{
    border: 0cm;
    background-color: white;
    cursor: pointer;
    
   

}
.delete:hover{

color:white;
}

