
h1  {
    font-family: Georgia, serif;
    text-align: center;
}
h2 {
    font-family: system-ui;
    margin: 0; 
padding: 0;       }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
   
}

* {
    
box-sizing: border-box;




}
.center {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
margin-top: 10%;

}
ul li.checked {

text-decoration: line-through;
}
.button {
transition-duration: 0.4s;
}

.button:hover {
background-color: #4CAF50; /* Green */
color: white;
}
.button {
background-color: white;
color: black;
border: 2px solid #4CAF50; /* Green */
}
.update{
    border-color: orange;
    border-radius: 30px;
}
.update:hover{
    background-color: orange;
    color: white;
}
.delete{
    border-color: red;
    border-radius: 30px;
    

}
.delete:hover{
background-color: red;
color:white;
}

